@model IEnumerable<MyNews.Models.ArticleShortModel>

@{
    ViewData["Title"] = "Новости";
}

<h1>Новости</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="my_table">
    <thead>
        <tr>
            <th hidden>
                @Html.DisplayNameFor(model => model.ArticleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td hidden>
                @Html.DisplayFor(modelItem => item.ArticleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                    @Html.ActionLink("Edit", "EditArticle", new { id=item.ArticleId  }) |
                    @Html.ActionLink("Details", "Details", new { id=item.ArticleId}) |
                    @Html.ActionLink("Delete", "DeleteArticle", new {  id=item.ArticleId })
            </td>
        </tr>
}
    </tbody>
</table>
